.image_logo{
  width: 150px;
  height: 60px;
}
.input_size{
  padding-top: 50px;
  margin-top: 30px;
}
.carouselslide{
  margin-top: 90px;
}
.jumbotronspace{
margin-top: 5px;
padding: px;
}
.login{
  text-align: center;
}
.imageresize{
  width: 300px;
  height: 170px;
}
.footer1{
  background-color: rgb(0, 0, 0);
  margin-top: 200px;
}

  
footer{
  background-color: black;
}
.socialmedia{
  margin-left: 20px;
}
.footersize{
height: 200px;
}
h5{
  color: white;
}